<#include "frame_public.html">
    
<div class="container-foto container-richiesta"> 
    <form action="FileUpload" method="post" enctype="multipart/form-data">
        <div class="img-profile cambio">
            <img src="${foto}${user_logged.id}.jpg" onerror="this.src='template/img/avatar.gif'" id="profile-img" class="cambio-foto">
        </div>
        <div class="scegli-foto">
            <div>
                <input type="file"  name="fileUpload">
            </div>
            <div class="invia-img">
                <input type="submit" value="Invia" class="btn btn-primary pull-right ellipsis waves-effect waves-light btn">
            </div>
        </div>
    </form>  
</div>
<#include "footer.html">