<#include "frame_public.html">

        <nav> 
         <div class="nav-wrapper">
            <form>
              <div class="input-field">
                <input id="search" type="search" required>
                <label for="search"> <i class="material-icons"> search</i> </label>
              </div>  
            </form>
         </div>
        </nav>
        <div class="header">
            <h2>Pagina non trovata</h2>
            <p>La pagina richiesta non è stata trovata o non esiste</p>
            <p> <a href="profile.html">Vai al Profilo</a></p>   
        </div>      
  >
<#include "footer.html">
