<#include "frame_public.html">
<html lang="en">
    <head>
        <title>
            Error Collaborative Genealogy
        </title>
    </head>
    
    <body>
        <div class="search-nologin">
            <form method="post" action="search">
                <input type="submit" name="search-bar-bottom" value="search">
                <input type="text" name="search-bar-input" value="search..">    
            </form>
        </div>
        <div class="header">
            <h2>Page not available</h2>
            <p>The page you requested is not available or not exist</p>
            <p> <a href="profile"> Go to profile </a></p>   
        </div>      
    </body>
</html>
<#include "footer.html">
