<#include "frame_public.html">
<div class="row signup">
    <form class="col s12" action="profilopre" method="post">
        <div class="row">
            <p id="error-msg">${message.msg!}</p>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input id="email" type="email" class="validate" name="email">
                <label for="email">Email</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input id="password" type="password" class="validate" name="password">
                <label for="password">Password</label>
            </div>
        </div>
        <div class="row submit">
            <button class="btn waves-effect waves-light" type="submit" name="action">Invia
                <i class="material-icons right"></i>
            </button>
        </div>
    </form>
</div>
<#include "footer.html">