<#include "frame_public.html">
<div class="container-left-profile">
    <#if message.msg??>
        <p id="error-msg">${message.msg}</p>
    </#if>
    <div class="box-profile-container">
        <#if request!=0>
        <a href="richieste">
            <div class="img-richieste">
                <p>${request}</p>
            </div>
        </a>
        </#if>
        
        <div class="box-img-profile">
    
            <div class="img-profile">
                <img src="${foto}${user_current.id}.jpg" id="profile-img">
                <!-- form prova immissione foto-->
                <form action="profilo" method="post" enctype="multipart/form-data">
                    <input type="file" name="file" />
                    <input type="submit" value="upload" />
                </form> 
                
                <!--form moira
                <form method="post" enctype="multipart/form-data">
                    <div class="file-field input-field">
                      <div class="btn-img-profile">
                        <input type="file">
                      </div>
                    </div>
                  </form>
                -->
            </div>
        </div>
        <div class="profile-name">
            <h5>  ${user_current.nome?capitalize} ${user_current.cognome?capitalize}</h5>
        </div>
        <div class="profile-info">
            INFORMAZIONI<br> ${user_current.info?cap_first}
            <#if relative_grade !="">
                <p> ${relative_grade?capitalize}</p>
            </#if>
            <div id="profile-data-nascita">
                Data di nascita: ${user_current.dataNascita?date?string("dd/MM/yyyy")}
            </div><br>
            <div id="profile-luogo-nascita">
                Luogo di nascita: ${user_current.citta?capitalize}
            </div>   
        </div>
        <div class="btns-add">
            <#if user_logged.id == user_current.id>
                <a href="addparent" class="btn-floating btn-small waves-effect waves-light red">
                    <i class="small material-icons">add</i>Parente
                </a>
                <a href="addprofilobase" class="btn-floating btn-small waves-effect waves-light red">
                    <i class="small material-icons">email</i>Antenato
                </a>
            </#if>
        </div>
    </div>
</div>
<div class="container-right">
<#if mother?? || father??>
<div class="parent-type" id="genitori">Genitori</div>
<div class="parentela genitori">
    <#if mother??>
        <#assign relative = mother>
    <div class="box-profile-container">
        <div class="box-img-profile">
            <div class="img-profile">
                <img src="#" id="profile-img">
            </div>
        </div>
        <div class="profile-name">
           
                <a href="profilo?id=${relative.user.id}">
                    <h5>${relative.user.nome?capitalize} ${relative.user.cognome?capitalize}</h5>
                </a>
                
        </div>
        <div class="profile-info">
            INFORMAZIONI ${relative.user.info?cap_first}<br>
            <#if relative.label!="">
                <p> ${relative.label?capitalize}</p>
            </#if>
            <div id="profile-data-nascita">
                Data di nascita: ${relative.user.dataNascita?date?string("dd/MM/yyyy")}
            </div><br>
            <div id="profile-luogo-nascita">
                Luogo di nascita: ${relative.user.citta?capitalize}
            </div>
        </div>
      </div>
    </#if>    
    <#if father??>
        <#assign relative = father>
    <div class="box-profile-container">
        <div class="box-img-profile">
            <div class="img-profile">
                <img src="#" id="profile-img">
            </div>
        </div>
        <div class="profile-name">
            
                <a href="profilo?id=${relative.user.id}">
                    <h5>${relative.user.nome?capitalize} ${relative.user.cognome?capitalize}</h5>
                </a>
            
        </div>
        <div class="profile-info">
            INFORMAZIONI ${relative.user.info?cap_first}<br>
            <#if relative.label!="">
                <p> ${relative.label?capitalize}</p>
            </#if>
            <div id="profile-data-nascita">
                Data di nascita: ${relative.user.dataNascita?date?string("dd/MM/yyyy")}
            </div><br>
            <div id="profile-luogo-nascita">
                Luogo di nascita: ${relative.user.citta?capitalize}
            </div>
        </div>
    </div>
</div>
    </#if>
</#if> 
    
    
    <#if spouse??>
<div class="parent-type" id="partner">Partner</div>
<div class="parentela partner">
    <div class="box-profile-container">
        <div class="box-img-profile">
            <div class="img-profile">
                <img src="#" id="profile-img">
            </div>
        </div>
        <div class="profile-name">
            <#assign relative = spouse>
                <a href="profilo?id=${relative.user.id}">
                     <h5>${relative.user.nome?capitalize} ${relative.user.cognome?capitalize}</h5>
                </a>
        </div>
        <div class="profile-info">
            INFORMAZIONI ${relative.user.info?cap_first}<br>
            <#if relative.label!="">
                <p> ${relative.label?capitalize}</p>
            </#if>
            <div id="profile-data-nascita">
                Data di nascita: ${relative.user.dataNascita?date?string("dd/MM/yyyy")}
            </div><br>
            <div id="profile-luogo-nascita">
                Luogo di nascita: ${relative.user.citta?capitalize}
            </div>
        </div>
        
    </div>
</div>
    </#if>
    
    

<#if children??>
<#if children?size=0>
<#else>
<div class="parent-type" id="figli">Figli</div>

<div class="parentela figli">
    <#list children>
    <#items as child>
    <div class="box-profile-container">
            <#assign relative = child>
        <div class="box-img-profile">
            <div class="img-profile">
                <img src="#" id="profile-img">
            </div>
        </div>
        <div class="profile-name">
            <a href="profilo?id=${relative.user.id}">
                 <h5>${relative.user.nome?capitalize} ${relative.user.cognome?capitalize}</h5>
            </a>
        </div>
        <div class="profile-info">
            INFORMAZIONI ${relative.user.info?cap_first}<br>
            <#if relative.label!="">
                <p> ${relative.label?capitalize}</p>
            </#if>
            <div id="profile-data-nascita">
                Data di nascita: ${relative.user.dataNascita?date?string("dd/MM/yyyy")}
            </div><br>
            <div id="profile-luogo-nascita">
                Luogo di nascita: ${relative.user.citta?capitalize}
            </div>
        </div>
    </div>
        </#items>
    </#list>
</div>
</#if>
    </#if>
    
    <#if siblings??>
    <#if siblings?size=0>
    <#else>
<div class="parent-type" id="fratelli">Fratelli e Sorelle</div>
<div class="parentela fratelli">
    <#list siblings>
    <#items as siblings>
    <div class="box-profile-container">
            <#assign relative = siblings>
        <div class="box-img-profile">
            <div class="img-profile">
                <img src="#" id="profile-img">
            </div>
        </div>
        <div class="profile-name">
            <a href="profilo?id=${relative.user.id}">
                 <h5>${relative.user.nome?capitalize} ${relative.user.cognome?capitalize}</h5>
            </a>
        </div>
        <div class="profile-info">
            INFORMAZIONI ${relative.user.info?cap_first}<br>
            <#if relative.label!="">
                <p> ${relative.label?capitalize}</p>
            </#if>
            <div id="profile-data-nascita">
                Data di nascita: ${relative.user.dataNascita?date?string("dd/MM/yyyy")}
            </div><br>
            <div id="profile-luogo-nascita">
                Luogo di nascita: ${relative.user.citta?capitalize}
            </div>
        </div>
    </div>
        </#items>
    </#list>
</div>
</#if>
    </#if>
    
    

</div> <!-- fine div container right -->
<#include "footer.html">