<#include "frame_public.html">
<div>
<div class="container-left">
    <div class="box-profile-container">
        <div class="box-img-profile">
            <div class="img-profile">
                <img src="#" id="profile-img">
            </div>
        </div>
        <div class="profile-name">
            <h5>  ${user_current.nome?capitalize} ${user_current.cognome?capitalize} </h5>
        </div>
        <div class="profile-info">
            INFORMAZIONI<br>
            <div id="profile-data-nascita">Data di nascita:</div><br>
            <div id="profile-luogo-nascita">Luogo di nascita: ${user_current.citta?capitalize}</div>
        </div>
    </div>
</div>
<div class="container-right">
    <div class="box-profile-container">
        <div class="box-img-profile">
            <div class="img-profile">
                <img src="#" id="profile-img">
            </div>
        </div>
        <div class="profile-name">
            <h5>    Nome & Cognome </h5>
        </div>
        <div class="profile-info">
            INFORMAZIONI<br>
            <div id="profile-data-nascita">Data di nascita:</div><br>
            <div id="profile-luogo-nascita">Luogo di nascita:</div>
        </div>
    </div>
    <div class="box-profile-container">
        <div class="box-img-profile">
            <div class="img-profile">
                <img src="#" id="profile-img">
            </div>
        </div>
        <div class="profile-name">
            <h5>    Nome & Cognome </h5>
        </div>
        <div class="profile-info">
            INFORMAZIONI<br>
            <div id="profile-data-nascita">Data di nascita:</div><br>
            <div id="profile-luogo-nascita">Luogo di nascita:</div>
        </div>
    </div>
</div>
</div>
<#include "footer.html">