<#include "frame_public.html">
<div id="testo-benvenuto">
    <h3>BENVENUTO IN FAMILY-TREE</h3><br>
    <h5>Inserisci una nuova password.<br>
    </h5>
</div>
<div class="row login precompilato">
    <form class="col s12" action="profilopre" method="post">
        <div class="row">
            <p id="error-msg">${message.msg!}</p>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input id="email" type="email" name="email" placeholder="${email}" disabled="disabled">
                <label for="email">Email</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input id="password" type="password" class="validate" name="password">
                <label for="password">Password</label>
            </div>
        </div>
        <div class="row submit">
            <button class="btn waves-effect waves-light" type="submit" name="action">Invia
                <i class="material-icons right"></i>
            </button>
        </div>
    </form>
</div>
<#include "footer.html">