<#include "frame_public.html">

<#if message??>
    <div class="errore-ricerca-nolog">
        <h5>
            Non è stato trovato nessun risultato secondo il criterio di ricerca. 
            Effettua una nuova ricerca o registrati a Family-Tree.
        </h5>
        <div id="btn-signup">
            <a href="signup" id="btn-signup" class="btn btn-primary pull-right ellipsis waves-effect waves-light btn login-signup">
                SignUp
            </a>
        </div>
    </div>
</#if>
      <#if utente??>
            <div class="container search">
        <#list utente>
        <#items as ut>
            <#assign relative = ut>
       
        
            <div class="container-left search">
                <div class="box-profile-container">
                    <div class="box-img-profile">
                        <div class="img-profile">
                            <img src="template/img/profilo/${relative.getrelat().id}.jpg" onerror="this.src='template/img/avatar.gif'" id="profile-img">
                        </div>
                    </div>
                    <div class="profile-name">
                        <h5>${relative.getrelat().nome} ${relative.getrelat().cognome}</h5><br>
                        parentele nell'albero genealogico ${relative.getNparent()}
                    </div>
                </div>
            </div>
        </#items>
        </#list> 
            </div>
           
      <#else>
            <p>nulla</p>
      </#if>
<#include "footer.html">        
