<#include "frame_public.html">
      <#if results??>
            <div class="container search">
        <#list results as user>
            <div class="container-left search">
                <div class="box-profile-container">
                    <div class="box-img-profile">
                        <div class="img-profile">
                            <img src="#" id="profile-img">
                        </div>
                    </div>
                    <div class="profile-name">
                        <h5>${user.nome?capitalize} ${user.cognome?capitalize}</h5>
                    </div>
                </div>
            </div>
        </#list>
            </div>
            
      <#else>
            <h3>nulla</h3>
      </#if>
<#include "footer.html">        
