

<#include "frame_public.html">

<#if message??>
    <div>
        <p id="error-msg">${message.msg}</p>
    </div>
</#if>
      <#if risultati??>
                <div class="container search">
        <#list risultati as user>
            <div class="container-left search">
                <div class="box-profile-container">
                    <div class="box-img-profile">
                        <div class="img-profile">
                            <img src="template/img/profilo/${user.id}.jpg" id="profile-img">
                        </div>
                    </div>
                    <div class="profile-info">
                    <div class="profile-name">
                        
                        <h5>${user.nome?capitalize} ${user.cognome?capitalize}
                      </h5>
                    </div>
                    
                    <div id="profile-data-nascita">
                        Data di nascita: <h5>${user.dataNascita?date?string("dd/MM/yyyy")} </h5>
                    </div>
                    <div id="profile-luogo-nascita">
                        Luogo di nascita: <h5>${user.citta?capitalize}</h5>
                    </div>
                    </div>
                    
                    <form action="aggiuntadaricerca" method="post" >
                        <select name="relationship" class="browser-default select-search-login">
                            <option value="" selected data-hidden="true">Seleziona una relazione</option>
                            <option value="parent">Genitore</option>
                            <option value="spouse">Marito/Moglie</option>
                            <option value="sibling">Fratello/Sorella</option>
                            <option value="child">Figlio/a</option>
                        </select>
                    
                        <input type="hidden" value="${user_logged.id}" name="user_sender" class="hidden"/> 
                        <input type="hidden" value="${user.id}" name="user_receiver" class="hidden"/> 
                        <button class="btn waves-effect waves-light btn-search-login" type="submit" name="send">Aggiungi</button>
                    </form>
                </div>
                
            </div>
        </#list> 
            </div>
      <#else>
            <p>nulla</p>
      </#if>
<#include "footer.html">  