<#include "frame_public.html">

<div class="container richieste">
    
    <#if message.msg??>
        <p>${message.msg}</p>
    </#if>
    
    <#if requests??>
        <#list requests as request>
        <div class="container-richiesta">
            Sei stato aggiunto da
            <h3>${request.sender.nome?capitalize} ${request.sender.cognome?capitalize}</h3>
                   
            come suo ${request.relationship}        
            <form action="richieste" method="post">
                <i class="small material-icons">thumb_up</i>
                <button name="accept" value="${request.sender.id}" >
                    Accetta
                </button>
                <i class="small material-icons">thumb_down</i>
                <button name="decline" value="${request.sender.id}">
                    Rifiuta
                </button>   
            </form>
        </div>
        </#list>
    <#else>
        
    <p>non ci sono richieste</p>
          
    </#if>
</div>

<#include "footer.html">