/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 9-apr-2016, 15.22.02
    Author     : Lorenzo
*/
body{
    background-image: url('../img/sfondo2.jpg');
    background-repeat: no-repeat;
}
input{
    color: white;
}
.header{
    height: 150px;
}
.row.login{
    max-width: 400px;
}
.row.submit{
    max-width: 150px;
}
.login-container{
    margin-top: 180px;
}
.btn.login-signup{
    position: relative;
    float: right;
    top: 15px;
    right: 15px;
}
#login-signup{
    color: white;
}
.search-nologin{
    width: 200px;
    position: relative;
    float: left;
    top: 15px;
    left: 10%;
}
.logo{
    position: relative;
    float: left;
    width: 50px;
    height: 50px;
    top: 15px;
    left: 15px;
}
#logo{
    width: 50px;
    height: 50px;
}
.row.signup{
    float: right;
    width: 45%;
    max-width: 400px;
    margin-right: 20px;
}
#error-msg{
    color: red;
    padding-left: 10px;
    margin-bottom: 0;
}
.container-left{
    width: 50%;
    height: 400px;
    float: left;
}
.container-right{
    width: 50%;
    height: 400px;
    float: right;
    margin-bottom: 20px;
}
.box-profile-container{
    border: 2px solid red;
    margin: 35px;
    height: 100%;
}
#profile-img{
    height: 100px;
    width: 100px;
}
.img-profile{
    position: relative;
    left: 50%;
    top: 20px;
    margin-left: -50px; /*margine negativo calcolato con meta di 100 px img*/
}
.box-img-profile{
    height: 140px;  /*140 px calcolati con 100 px img + 20px top + 20 per dare margine bottom*/
}
.profile-name{
    text-align: center;
    color: white;
}
.profile-info{
    text-align: center;
    color: white;
    border: 2px solid red;
    width: 60%;
    position: relative;
    left: 20%;
    top: 20px;
}
#profile-data-nascita{
    text-align: left;
    margin-top: 10px;
    margin-left: 6px;
}
#profile-luogo-nascita{
    text-align: left;
    margin-left: 6px;
}
.container-left.search{
    height: 200px;
    margin-top: 20px;
}
.container.search{
    width: 60%;
}