/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 9-apr-2016, 15.22.02
    Author     : Lorenzo
*/
body{
    background-image: url('../img/sfondo2.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
}
input{
    color: white;
}
.header{
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0;
    background: #365899;
}
.header.logged{
    height: 350px;
}
.row.login{
    max-width: 400px;
    background: #365899;
    border-radius: 10px;
}
.row.submit{
    max-width: 150px;
}
.login-container{
    margin-top: 180px;
}
.btn.login-signup{
    position: relative;
    float: right;
    top: 15px;
    right: 15px;
}
#login-signup{
    color: white;
}
.search-nologin{
    width: 200px;
    position: relative;
    float: left;
    top: 15px;
    left: 10%;
}
.logo{
    position: relative;
    float: left;
    width: 50px;
    height: 50px;
    top: 15px;
    left: 15px;
}
#logo{
    width: 50px;
    height: 50px;
}
.row.signup{
    float: right;
    width: 45%;
    position: relative;
    top: 100px;
    max-width: 400px;
    margin-right: 20px;
    z-index: -1;
    background: #365899;
    border-radius: 10px;
}
#error-msg{
    color: red;
    padding-left: 10px;
    margin-bottom: 0;
    margin-left: 30px;
    font-family: fantasy;
}
.container-left{
    width: 50%;
    height: auto;
    float: left;
}
.container-left-profile{
    width: 50%;
    height: auto;
    float: left;
    position: fixed;
    top: 135px;
    z-index: -1;
    overflow: hidden;
}
.container-right{
    width: 50%;
    height: auto;
    float: right;
    margin-bottom: 20px;
    overflow: hidden;
    position: relative;
    top: 100px;
    z-index: -1;
}
.box-profile-container{
    border-radius: 10px;
    margin: 35px;
    height: 100%;
    background: #C6C6C6;
    margin-top: 0;
    padding-bottom: 10px;
}
.container-left-profile .box-profile-container{
    background: #365899;
}
#profile-img{
    height: 100px;
    width: 100px;
}
.img-profile{
    position: relative;
    left: 50%;
    top: 20px;
    margin-left: -50px; /*margine negativo calcolato con meta di 100 px img*/
}
.box-img-profile{
    height: 140px;  /*140 px calcolati con 100 px img + 20px top + 20 per dare margine bottom*/
}
.profile-name{
    text-align: center;
    color: white;
}
.profile-info{
    text-align: center;
    color: white;
    border-radius: 10px;
    width: 60%;
    position: relative;
    left: 20%;
    margin-top: 20px;
    margin-bottom: 20px;
    background: #AFADB2;
}
#profile-data-nascita{
    text-align: left;
    margin-top: 10px;
    margin-left: 6px;
}
#profile-luogo-nascita{
    text-align: left;
    margin-left: 6px;
}
.container-left.search{
    height: auto;
    margin-top: 20px;
}
.container.search{
    width: 70%;
    position: relative;
    top: 100px;
    z-index: -1;
}
#profile-img{
    background-image: url('../img/avatar.gif');
}
.btn-user{
    position: fixed;
    top: 0;
    right: 0;
}
#btn-name-logged{
    margin-right: 5px;
}
.parent-type{
    color: white;
    height: 40px;
    background: #365899;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    max-width: 550px;
    margin-top: 35px;
    text-align: center;
    font-family: fantasy;
    letter-spacing: 2px;
    line-height: 2.5;
}
.btns-add{
    height: 40px;
    width: 60%;
    margin-bottom: 20px;
    position: relative;
    left: 20%;
}
#btn-parente{
    float: left;
}
#btn-antenato{
    float: right;
}
.parentela{
    background: #365899;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    max-width: 550px;
    padding-bottom: 1px;
}
.not-visible{
    display: none;
}
.btn-img-profile{
    height: 25px;
    width: 25px;
    background-image: url('../img/change-profile.png');
    position: relative;
    top: -31px;
    left: 75px;
}
.img-richieste{
    height: 25px;
    width: 25px;
    position: relative;
    left: 100%;
    top: 10px;
    margin-left: -35px;   
}
.img-richieste p{
    position: relative;
    left: 80%;
    bottom: 40%;
    color: red;
    font-weight: bold;
}
/* RICERCA LOGGATA */
.search-logged{
    max-width: 400px;
    height: 400px;
    position: relative;
    left: 7%;
    display: none;
}

/* FINE RICERCA LOGGATA */
.container.richieste{
    position: relative;
    top: 100px;
    z-index: -1;
    width: 100%;
    left: 50%;
    margin-left: -200px;
}
.container-richiesta{
    width: 400px;
    margin-top: 40px;
    background: #C6C6C6;
    border-radius: 10px;
    padding: 10px;
}
.profile-info.my{
    background: #1E4187;
}
.btn{
    background: #1E4187;
}
.btn:hover{
    background: #0059bc;
}
#btn-logout{
    padding-left: 10px;
    padding-right: 10px;
}
#btn-name-logged{
    padding-left: 10px;
    padding-right: 10px;
}
.container-right .box-profile-container{
    max-width: 500px;       /*contenitori di destra*/
}
.container-left-profile .box-profile-container{
    max-width: 700px;
}
.btn-search-login{
    position: relative;
    left: 50%;
    margin-left: -66px;
    margin-bottom: 10px;
}
select{
    background-color: #AFADB2;
}
.select-search-login{
    margin-bottom: 10px;
}
.dropdown-my{
    position: relative;
    left: 90%;
    margin-top: -30px;
}
.container-foto{
    position: relative;
    top: 200px;
    left: 50%;
    margin-left: -200px;
}
.container-foto form{
    width: 400px;
}
.radius{
    border-radius: 10px;
}
/*INIZIO RESPONSIVE CUSTOM*/
@media only screen and (max-width: 450px){
    /*responsive header*/
    .logo {
        display: none;
    }
    .row.login{
        max-width: 90%;
    }
    .row.signup{
        width: 90%;
        max-width: none;
    }
    .search-nologin{
        left: 4%;
    }
    /*responsive mobile profilo con box 100% width*/
    .container-left-profile{
        width: 100%;
        position: relative;
        top: 135px;
    }
    .container-right{
        width: 92%;
    }
    .parent-type{
        margin-right: 32px;
    }
    .parentela{
        margin-right: 32px;
    }
    /* responsive mobile ricerca loggata*/
    .container.search{
        width: 100%;
    }
    .container-left{
        width: 100%;
    }
    
}
@media only screen and (max-width: 340px){
    .search-nologin{
        width: 150px;
    }
}
/*responsive contenitore destro con il margine destro non max-width*/
@media only screen and (max-width: 1200px) and (min-width:450px){ 
    .parentela{
        margin-right: 25px;
    }
    .parent-type{
        margin-right: 25px;
    }
}
/*FINE RESPONSIVE CUSTOM*/